<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1">
	
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Whitesquare</title>
	
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/service.css">

	<script>
	 

			var htmlEl=document.getElementsByTagName('html')[0];if(document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#BasicStructure","1.1")){htmlEl.className+=' svg';}
			WebFontConfig={google:{families:['Karla:400,700,400italic,700italic:latin','Montserrat:400,700:latin']}};(function(){var e=document.createElement("script");e.src=("https:"==document.location.protocol?"https":"http")+"://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js";e.type="text/javascript";e.async="true";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
		</script>


	<!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]--> </head>

	
		
<body>
	<div class="window">
  	  <div class="header">
	    <div class="burger-container" >
	      <div id="burger">
	        <div class="bar topBar"></div>
	        <div class="bar btmBar"></div>
	      </div>    
	    </div>

	    <ul class="menu">
			 <li class="menu-item" style="margin-right:45px;" ><a href="/">Главная</a></li>
	      <li class="menu-item"><a href="/about">О нас</a></li>
		  <li class="menu-item"><a href="/service">Услуги</a></li>
	      <li class="menu-item"><a href="/contacts">Контакты</a></li>
		  <li class="menu-item"><a href="/blog">Блог</a></li>
	      <li class="bmw-darklight-menu">
			  <a href="/">
		     <img src="/assets/img/bmw-darklight-menu.jpg"  >
			 </a>
		  </li>
	  
	    </ul>
	    <div class="shop icon icon-bag"></div>
  	 </div>
  
  		<div class="content"> 
			{{ content }}
  		</div>
	</div>  
</body>
	
<footer class="footer">
	<div class="column column-one">
		<ul class="footer-nav"> 
			<li><a href="/about">О нас</a><li>
				<li><a href="/contacts">Контакты</a><li>
			    <li><a href="/blog">Блог</a></li>
				<!-- <li><a href="/blog">© 2017 </a></li> -->
		</ul>
	</div>
	
	<div class="column column-two">
	  <a href="/" style="margin:auto;">
		  <img id="secondary-logo"  src="/assets/img/lucky-boomer-leaf.png" >
	   </a>
	</div>
	
	<div class="column column-three">
		<a target="_blank" href="/" > 
			<img src="/assets/img/instagramicon.png" class="social-icon"> 
		</a>
		<a target="_blank" href="/" > 
			<img src="/assets/img/fbicon.png" class="social-icon"> 
		</a>
		<a target="_blank" href="/" > 
			<img src="/assets/img/fbicon.png" class="social-icon"> 
		</a>
	</div>										
</footer>
				
	
<script>
	(function(){
	    var burger = document.querySelector('.burger-container'),
	        header = document.querySelector('.header');
	    burger.onclick = function() {
	        header.classList.toggle('menu-opened');
	    }
	}());
	</script>
</html>